
body{
}

.card{
    width:100%;
    height: 55vh;
    margin-top: 20%;
   
}

.cardHeader{
    text-align: center;
    font-weight: 600;
    padding:5%;
    /* color: #0399BC; */
}
.price{
    font-weight: 400;
    text-align: center;
    font-size: 50px;
}
.details{
    text-align: center;
    padding:10%;
}
#sub {
    margin-left: 25%;
    padding-top: 15%;

}
.subscribe-btn{
  background-color:  linear-gradient(to bottom right, #5A55AA, #0399BC);

    padding-left: 30%;
}
@media screen and (max-width: 667px) {
    .subscribe-btn{
        padding-left:  20%;
    }
    .card{
        padding: 2%;
        width: 80%;
        margin: 10%;
        height: 90%;

    }
}
