.item-left{
    margin-top: 5%;
    padding: 10%;

}
.item-left h1{
    color: white;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 0.3vw;

}

.button{
    font-family: Montserrat;
    text-transform: unset !important;
    font-weight: 400 !important; 
    background-color:  linear-gradient(to bottom right, #5A55AA, #0399BC);
    margin-top: 5%;
    height: 50px;
}
 .item-right{
    width: 100%;
    height: 100vh;
    background: white;
    box-shadow: 0px 10px 12px 8px rgba(9, 9, 9, 0.23);

 }
  