.item-left{
    margin-top: 5%;
    padding-top: 10%;
    padding-left: 12%;

}
.item-left h1{
    color: white;
    font-weight: 700;
    font-size: 3.5vw;
    letter-spacing: 0.5vw;
    width: 500px;
}

.item-left p{
    color: white;
    letter-spacing: 0.3vw;

}
.button{
    font-family: Poppins;
    /* text-transform: uppercase !important; */
    font-weight: 600 !important; 
    letter-spacing: 0.2vw !important;
    background-color:  linear-gradient(to bottom right, #5A55AA, #0399BC);
    height: 50px;
    margin-top: 3% !important;
}
 .item-right{
    width: 100%;
    height: 100vh;
    background: white;
    box-shadow: 0px 10px 12px 8px rgba(9, 9, 9, 0.23);
 }

 @media screen and (max-width: 677px) {
    body{
        /* background: gold; */
        overflow-x: hidden;
        height: 100vh !important;

    }
  
    .item-left{
        width: 90% !important;
        /* background: red; */
        margin-top: 30% !important;
        /* padding: 10%; */
    }
    .item-left h1{
        font-size: 1.4em;
        letter-spacing: .2em;
        width: 90% !important;

    }
    .item-left p{
        font-size: 0.8em    ;
    }
    .button{
        margin-top: 10% !important;
    }
  
 }
  